<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Management</title>
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body>
    {% include 'partials/navbar_dashboard.html' %}
    <h1>Dashboard</h1>
    <p>Selamat Datang {{ username }}</p>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <section>
        <h1>List User</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.access }}</td>
                    <td>
                        <form action="/delete" method="post">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h1>Buat Admin</h1>
        <form action="/register" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password">
            <input type="hidden" name="access" value="admin">
            <button type="submit">Register</button>
        </form>
    </section>
</body>
</html>